:root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("salon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}

body {
  margin: 0;
  display: grid;
  place-items: center;

}




